@import '../styles/variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: $white;
  color: $black;
}
